html, body {
  background-color: #6abf69;
}

header {
  margin-bottom: 50px;
}

.App {
  background-color: #6abf69;
  height: 100%;
  padding-top: 50px;
  text-align: center;
}

.button {
  margin-right: 10px;
  text-align: center;
}

.input {
  margin-right: 10px;
  text-align: center;
  width: 50px !important;
}

.submit-area {
  width: 100%;
}
