html, body {
  background-color: #6abf69;
}

.App {
  background-color: #6abf69;
  height: 100%;
  padding-top: 50px;
  text-align: center;
}

.input {
  margin-right: 10px;
  text-align: center;
  width: 50px !important;
}
